.match {
    /*display: flex;
    flex-direction: column;*/
    padding: 0 0;
    border: 3px solid #009fe3;
    border-radius: 8px;
    margin-bottom: 1em;
}

.vs {
    color: #009fe3;
    font-size: large;
    font-weight: bold;
}

.content.info {
    padding: 0%;
    width: 100%;
}

.row {
    display: flex;
}
  
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
  
.col {
    flex: 1;
    display: flex;
}
  
.center {
    flex: 0 0 300px;
    display: flex;
    margin: 0 .5em;
}
  
.center .content {
    flex: 1 1 100%;
}
  
.left {
    justify-content: flex-end;
}
  
.left .content {
    flex: 0 1 auto;
}
  
.right .content {
    flex: 0 1 auto;
}

.team-name {
    font-size: larger;
}

.match-info-container {
    padding-top: 0.5em;
}

.match-info-container .content.info {
    font-weight: bold;
}

.match-division-container {
    padding-bottom: 0.5em;
}

.teams-names-container.with-score .content.team-name {
    padding-bottom: .2em;
}

.team-and-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: larger;
    font-weight: bold;
    color: #009fe3;
}

@media screen and (min-width: 1024px) {
    .match-info-container .left .content.info {
        justify-content: flex-start;
        padding-left: 1em;
    }
    
    .match-info-container .right .content.info {
        justify-content: flex-end;
        padding-right: 1em;
    }
}

@media screen and (max-width:1024px) {
    .row {
      flex-direction: column;
    }
    
    .col {
      flex: 1;
      justify-content: center;
    }

    .team-name {
        padding: .3em;
        padding-bottom: 0;
    }

    .score {
        padding-left: .3em;
    }
   
    .center {
        margin: 0;
        flex: 0 0 0px;
    }

    .content {
        padding: .2em;
    }

    .team-and-score {
        flex-direction: row;
    }

    .match-info-container {
        padding-bottom: .5em;
    }
    .match-division-container {
        padding-top: .5em;
    }
}
