.search-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-bar {
    padding: 6px;
    margin-bottom: 1em;
    border: 2px solid #009fe3;
    border-radius: 8px;
}

.search-div {
    padding: 6px;
    margin-bottom: 1em;
    border: 2px solid #009fe3;
    border-radius: 8px;
}

.pool-button {
    padding: 6px;
    margin-bottom: 1em;
    border: 2px solid #009fe3;
    border-radius: 8px;
    background-color: #009fe3;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.pool-button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width:768px) {
    .search-filter {
        flex-direction: column;
    }
}